playwright
playwright-stealth
pydantic
python-dotenv
jsonpath-ng
pandas
langchain
langchain-openai
jinja2
termcolor
tendo
pyyaml
scikit-learn
duckdb
fastembed
pytest
pytest-django
pytest-mock
pytest-cov
factory-boy
